<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/demo.css}" />
    <link rel="stylesheet" th:href="@{js/vendor/jgrowl/css/jquery.jgrowl.min.css}">
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" th:href="@{css/component.css}" />
    <!--[if IE]>
    <script th:src="@{js/html5.js}"></script>
    <![endif]-->
    <title>HappyChat</title>
    <style>
        input::-webkit-input-placeholder{
            color:rgba(0, 0, 0, 0.726);
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:rgba(0, 0, 0, 0.726);
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:rgba(0, 0, 0, 0.726);
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:rgba(0, 0, 0, 0.726);
        }
    </style>
</head>
<body >
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <form th:action="@{/index}" method="post">
                    <div class="input_outer2">
                        <span class="u_phone"></span>
                        <input type="tel" class="text" id="usertel" placeholder="请输入手机号" style="color: #000000 !important" >
                    </div>
                    <div class="input_outer2">
                        <span class="u_user"></span>
                        <input type="text" class="text" id="username" placeholder="请输入您的昵称" style="color: #000000 !important">
                    </div>
                    <div class="input_outer2">
                        <span class="u_email"></span>
                        <input type="email" class="text" id="email" placeholder="请输入您的邮箱" style="color: #000000 !important">
                    </div>
                    <div class="input_outer2">
                        <span class="u_sex"></span>
                        <select   class="text" id="sex">
                            <option>男</option>
                            <option>女</option>
                            <option>不公开</option>
                        </select>
                    </div>
                    <div class="input_outer2">
                        <span class="u_add"></span>
                        <input type="text" class="text" id="address" placeholder="请输入您的地址">
                    </div>
                    <div class="input_outer2">
                        <span class="u_rmk"></span>
                        <input type="text" class="text" id="remark" placeholder="备注">
                    </div>
                    <div class="input_outer2">
                        <span class="u_pswd"></span>
                        <input type="password" class="text" id="current-password" placeholder="请输入密码">
                    </div>
                    <div class="input_outer2">
                        <span class="u_pswd"></span>
                        <input type="password" class="text" id="password-again" placeholder="请再次输入密码">
                    </div>
                    <div class="mb2"><a class="act-but submit"  onclick="registerSubmit()" style="color: #FFFFFF;cursor: pointer" >注册</a>
                        <span style='color: #f7f7f7'>已有账号？<a role="button" href="index">点击登录</a></span>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/TweenLite.min.js}"></script>
<script th:src="@{js/EasePack.min.js}"></script>
<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/rAF.js}"></script>
<script th:src="@{js/demo-1.js}"></script>
<script th:src="@{js/vendor/jgrowl/jquery.jgrowl.min.js}"></script>
<script th:src="@{js/login_script.js}"></script>
<div style="text-align:center;"></div>
</body>
</html>